@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  max-width: 48rem;
  margin: auto;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.embla__slide {
  min-width: 0;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.embla__slide__number {
  overflow: hidden;
  user-select: none;
}
